name: LS on Jumpserver

on:
  push:

jobs:
  run-ls:
    runs-on: self-hosted   # this makes it run on eks-jumpserver-01
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Build Spring Boot JAR and prepare folder
        run: |
          chmod +x mvnw
          ./mvnw clean package -Pproduction

          rm -rf kpeiworldapp
          mkdir kpeiworldapp
          cd kpeiworldapp

          cp ../Dockerfile .
          cp ../target/*.jar .

          ls -larth
